<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <script src="/bundle.js" ></script>
        <link href="/bundle.css" rel="stylesheet" />
        <title><%= title %></title>
    </head>
    <body>

    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-white justify-content-between">
        <a class="navbar-brand" >
            <img  id='logo' src="/images/W-1100x1100.png" width="30" height="30" class="d-inline-block align-top" alt="">
            DWXR
        </a>
        <div id = 'nav-user'>
            <div id="sign" class="my-2 my-lg-0">
                <button id="sign-btn" class="btn btn-outline-primary my-2 my-sm-0">
                    <i class="fas fa-user-circle"></i> Sign In
                </button>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <button id="create-space-btn" type="button" class="btn btn-outline-primary"> <i class="fas fa-plus"></i> New</button>
        </div>
        <div class="row">
            <h2><i class="fas fa-cubes"></i> Space List</h2>
        </div>
    </div>
    <div class="container">
        <div id="space-list" class="card-columns">

        </div>
    </div>



<!--    Modal for login-->
    <div class="modal fade" id="modal-sign" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white" >Sign</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="alias">Username</label>
                            <input id="alias" type="text" class="form-control"  placeholder="Enter username">
                            <small id="passHelp" class="form-text text-muted">Your username needs to be longer than 5 letters.</small>
                        </div>
                        <div class="form-group">
                            <label for="pass">Passphrase</label>
                            <input id="pass" type="password" class="form-control" aria-describedby="passHelp" placeholder="Passphrase">
                            <small id="passHelp" class="form-text text-muted">Your passphrase needs to be longer than 9 letters.</small>
                        </div>
                        <button id="up" type="button" class="btn btn-outline-primary">Sign Up</button>
                        <button id="in" type="button" class="btn btn-primary">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <!--가장 아래에 Modal for tell -->
    <div class="modal fade" id="tell" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" >DWXR</h5>
                </div>
                <div class="modal-body" id="tell-what"></div>
            </div>
        </div>
    </div>

    </body>


</html>

<script>

    // navBar
    ;(() => {
        jq('.navbar-brand').attr('href', location.origin);
        jq('#sign-btn').on('click', (e) => {
            let m = jq('#modal-sign');
            m.modal('show')
        });

        jq('#up').on('click', function () {
            let form = check();
            if (!form) {
                return
            }
            S.user.create(form.alias, form.pass, async (ack) => {
                if (ack.err) {
                    return S.tell(ack.err)
                }
                check.up = true;
                await S.user.auth(form.alias, form.pass, logined);
            });
        });

        jq('#in').on('click', async function () {
            let form = check();
            if (!form) {
                return
            }
            await S.user.auth(form.alias, form.pass, logined);
        });

        let check = () => {
            let form = {alias: (jq('#alias').val() || '').toLowerCase(), pass: jq("#pass").val() || ''};
            if (6 > form.alias.length) {
                S.tell("Your username needs to be longer than 5 letters.");
                return;
            }
            if (9 > form.pass.length) {
                S.tell("Your passphrase needs to be longer than 9 letters.");
                return;
            }
            return form;
        }

        let logined = (ack) => {
            if (ack.err) {
                return S.tell(ack.err)
            }
            console.log(ack);
            jq('#modal-sign').modal('hide');
            let e = jq('#sign');
            let alias = S.user.is.alias;
            S.user.recall({sessionStorage: true}); // 세션에 로그인 정보 저장
            // document.dispatchEvent(S.sslogin);
            location.reload();
            S.tell('welcome, ' + alias + '!');
        }
    })();

    ;(() => {
        S.app.once(console.log);

        let getSpace = function(data){
            let space = {
                'title': data.title,
            }
            space.owner = data.owner;

            if( data.description !== undefined){
                space.description = data.description;
            }else{
                space.description = 'This space is created by ' + space.owner + '!';
            }

            space.ago = '3 hours';
            // 이거 쓰자 https://www.npmjs.com/package/javascript-time-ago


            return space;
        };

        let createCard = function( space ){

            let card = document.createElement('div')
            card.classList.add('card');
            card.classList.add('border-secondary');
            let cardBody = document.createElement('div');
            cardBody.classList.add('card-body');
            card.appendChild(cardBody);

            let cardTitle = document.createElement('h5');
            cardTitle.classList.add('card-title');
            cardTitle.textContent = space.title;
            let cardSubtitle = document.createElement('h6');
            cardSubtitle.classList.add('card-subtitle');
            cardSubtitle.classList.add('mb-2');
            cardSubtitle.classList.add('text-muted');
            cardSubtitle.textContent = '@'+space.owner;
            let cardText = document.createElement('p');
            cardText.classList.add('card-text');
            cardText.textContent = space.description ;
            let cardAgo = document.createElement('p');
            cardAgo.classList.add('card-text');
                let small = document.createElement('small');
                small.classList.add('text-muted')
                small.textContent = 'Last opened ' + space.ago + ' ago';
                cardAgo.appendChild( small );
            let btn = document.createElement('a');
            btn.classList.add('btn');
            btn.classList.add('btn-primary');
            btn.textContent = 'Enter';
            btn.setAttribute('href',window.location.href + 'space/'+ space.id)

            cardBody.appendChild(cardTitle);
            cardBody.appendChild(cardSubtitle);
            cardBody.appendChild(cardText);
            cardBody.appendChild(cardAgo);
            cardBody.appendChild(btn);

            return card;
        };
        S.app.get('spaces').map().once(function(data, key){
            let space = getSpace(data);
            space.id = key;
            document.getElementById('space-list').appendChild(createCard( space ));
        })

        jq('#create-space-btn').on('click', function(){
            if(sessionStorage.recall === undefined){
                S.tell('Sign in before creating space !')
                return;
            }

            let uuid = S.generateUUID()
            let space = S.gun.get( uuid );

            space.get('created-at').put(Date.now());

            space.get('owner').put(S.user.is.alias);
            space.get('title').put('Untitled space');
            space.get('lock').put(false);

            // 스페이스에 입장하는 건디비 콜백함수.
            // 나중에 여기서 스페이스 - 유저 권한 체크 할것.
            let enter = function(ack){
                if(ack.err){}
                else{
                    let url = window.location.href + 'space/' + uuid;
                    // let tab = window.open(url, '_blank');
                    // tab.focus();
                    // 새탭에서 열면 세션로그인이 따로놀아 그냥 하나에서 계속하자
                    window.location.href = url;
                }
            }
            S.user.get('own').set(space);
            S.app.get('spaces').set(space, enter);
            // S.user.get('own').set(space);
        })
    })();



</script>

