<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">

    <meta name="theme-color" content="#ffffff">
    <script src="https://kit.fontawesome.com/971af83d00.js"></script>
    <script src="/space.js" ></script>
    <link href="/main.css" rel="stylesheet" />

    <title>DWXR</title>
</head>
<body  style='margin : 0px; overflow: hidden;'>
<script>

    window.G.user = '<%=username%>';
</script>



<div class="scene-container fixed-top">

    <a-scene id="scene" cursor="rayOrigin: mouse" renderer="antialias: false"  postprocessing="false" embedded>

        <a-assets id="assets">
        </a-assets>

        <a-entity id= "light-directional" light="type: directional; color: #EEE; intensity: 0.5" position="-1 1 0"></a-entity>
        <a-entity id="light-ambient" light="type: ambient; color: #CCC"></a-entity>

        <a-camera></a-camera>

        <div class="a-enter-ar">
            <button class="a-enter-ar-button" title="Enter AR mode with your camera"></button>
        </div>
        <script>
            let btn = document.querySelector('.a-enter-ar-button');
            btn.addEventListener('click',function(){
                let pathname = location.pathname;
                let middlePath;
                if(pathname.startsWith('/space')){
                    middlePath = '/space/ar/';
                }else if( pathname.startsWith('/test')){
                    middlePath = '/test/ar/'
                }
                window.location.href = window.location.origin + middlePath + getSpaceID();
            });
        </script>
    </a-scene>

</div>




<nav class="navbar sticky-top navbar-expand-md navbar-light bg-white justify-content-between">
    <a class="navbar-brand">
        <img id='logo'src="/images/W-1100x1100.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <div id="title" class="nav-link">You cannot access this space.</div>
        </li>
    </ul>

    <div id="nav-current" class="col-auto">

    </div>

    <div id = 'nav-user'>
        <div id="sign" class="my-2 my-lg-0">
            <button id="sign-btn" class="btn btn-outline-primary my-2 my-sm-0">
                <i class="fas fa-user-circle"></i> Sign In
            </button>
        </div>
    </div>

</nav>


<!--    Modal for login-->
<div class="modal fade" id="modal-sign" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" >Sign</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="alias">Username</label>
                        <input id="alias" type="text" class="form-control"  placeholder="Enter username">
                        <small id="passHelp" class="form-text text-muted">Your username needs to be longer than 5 letters.</small>
                    </div>
                    <div class="form-group">
                        <label for="pass">Passphrase</label>
                        <input id="pass" type="password" class="form-control" aria-describedby="passHelp" placeholder="Passphrase">
                        <small id="passHelp" class="form-text text-muted">Your passphrase needs to be longer than 9 letters.</small>
                    </div>
                    <button id="up" type="button" class="btn btn-outline-primary">Sign Up</button>
                    <button id="in" type="button" class="btn btn-primary">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!--가장 아래에 Modal for tell -->
<div class="modal fade" id="tell" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" >DWXR</h5>
            </div>
            <div class="modal-body" id="tell-what"></div>
        </div>
    </div>
</div>


<script src="/after-scene.js" ></script>

</body>
</html>



