<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="https://aframe.io/releases/0.9.2/aframe.min.js"></script>

    <script src="/bundle.js" ></script>
    <link href="/bundle.css" rel="stylesheet" />
    <title>DWXR</title>
</head>
<body>

<div class="scene-container fixed-top">
    <a-scene class="scene" embedded >
        <a-box position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9"></a-box>
        <a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
        <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
        <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>
        <a-sky color="#ECECEC"></a-sky>
    </a-scene>

</div>

<nav class="navbar sticky-top navbar-expand-md navbar-light bg-white justify-content-between">
    <a class="navbar-brand" href="#">
        <img src="/images/W-1100x1100.png" width="30" height="30" class="d-inline-block align-top" alt="">
        DWXR
    </a>
    <div id = 'nav-user'>
        <div id="sign" class="my-2 my-lg-0">
            <button id="sign-btn" class="btn btn-outline-primary my-2 my-sm-0">
                <i class="fas fa-user-circle"></i> Sign In
            </button>
        </div>
    </div>
</nav>


<!--    Modal for login-->
<div class="modal fade" id="modal-sign" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" >Sign</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="alias">Username</label>
                        <input id="alias" type="text" class="form-control"  placeholder="Enter username">
                        <small id="passHelp" class="form-text text-muted">Your username needs to be longer than 5 letters.</small>
                    </div>
                    <div class="form-group">
                        <label for="pass">Passphrase</label>
                        <input id="pass" type="password" class="form-control" aria-describedby="passHelp" placeholder="Passphrase">
                        <small id="passHelp" class="form-text text-muted">Your passphrase needs to be longer than 9 letters.</small>
                    </div>
                    <button id="up" type="button" class="btn btn-outline-primary">Sign Up</button>
                    <button id="in" type="button" class="btn btn-primary">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>





<!--가장 아래에 Modal for tell -->
<div class="modal fade" id="tell" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" >DWXR</h5>
            </div>
            <div class="modal-body" id="tell-what"></div>
        </div>
    </div>
</div>

<script>
    ;(()=>{

    })();

</script>
</body>
</html>



