<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <script src="/test-survey.js" ></script>
    <link href="/main.css" rel="stylesheet" />

    <style type="text/css">
        html,body{
            border:none; padding:0; margin:0;
            background:#FFFFFF;
            color:#202020;
        }
        body{
            text-align:center;
            font-family:"Roboto",sans-serif;
        }
        h1{
            color:#404040;
        }
    </style>
    <title>DWXR Experiments</title>

</head>
<body>


    <div>
        <img  id='logo' src="/images/W-1100x1100.png" width="200" height="200" class="d-inline-block align-top" alt="">
    </div>
    <h1>Hello, there!</h1>
    <p> 👇 Set your information 👇 </p>

    <h2>Setting</h2>
    <form action="/test/setting" method="post">
        <div class="form-row">
            <div class="col-auto form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name">
            </div>

        </div>
        <div class="form-row">
            <div class ='col-auto form-group'>
                <label>Bandwidth</label>
                <div class="input-group">
                    <div class="btn-group btn-group-toggle " data-toggle="buttons">
                        <label class="btn btn-outline-secondary active">
                            <input type="radio" name="bandwidth" id="bw50"  value="50"  autocomplete="off" checked> 50
                        </label>
                        <label class="btn btn-outline-secondary ">
                            <input type="radio" name="bandwidth" id="bw100"  value="100"  autocomplete="off" > 100
                        </label>
                        <label class="btn btn-outline-secondary ">
                            <input type="radio" name="bandwidth" id="bw200"  value="200"  autocomplete="off" > 200
                        </label>
                        <label class="btn btn-outline-secondary ">
                            <input type="radio" name="bandwidth" id="bw300"  value="300"  autocomplete="off" > 300
                        </label>
                        <label class="btn btn-outline-secondary ">
                            <input type="radio" name="bandwidth" id="bw400"  value="400"  autocomplete="off" > 400
                        </label>
                        <label class="btn btn-outline-secondary ">
                            <input type="radio" name="bandwidth" id="bw500"  value="500"  autocomplete="off" > 500
                        </label>
                        <label class="btn btn-outline-secondary ">
                            <input type="radio" name="bandwidth" id="bw750"  value="750"  autocomplete="off" > 750
                        </label>
                        <label class="btn btn-outline-secondary ">
                            <input type="radio" name="bandwidth" id="bw1000"  value="1000"  autocomplete="off" > 1000
                        </label>
                        <label class="btn btn-outline-secondary ">
                            <input type="radio" name="bandwidth" id="bw1500"  value="1500"  autocomplete="off" > 1500
                        </label>
                        <label class="btn btn-outline-secondary ">
                            <input type="radio" name="bandwidth" id="bw2000"  value="2000"  autocomplete="off" > 2000
                        </label>

                    </div>
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</body>
</html>
