<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>DWXR</title>
    <script src="/test-auto.js"></script>

</head>
<script>
    L.user = '<%=name%>';
    console.log(L.user);
    let ongetuser = new Event('getuser');
    window.dispatchEvent(ongetuser);
</script>


<body>


<div>
    <button class="btn btn-primary complete-task" onclick="emitComplete()">Completed</button>
</div>



<script>


    let onComplete = new Event('onComplete');
    function emitComplete (){
        document.dispatchEvent(onComplete);
    }
    document.addEventListener('onComplete', submitAndNext)

    async function submitAndNext() {
        // TODO 항성 sub->pub 순서로 할것
        // pub 마지막 부분에서 페이지를 넘기기 때문에
        await L.logsUpload(L.subLogs, 'sub');
        await L.logsUpload(L.pubLogs, 'pub');

    }


</script>


</body>

</html>



